<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="">
</head>
<body>
<div class="metoin_global">
{{include '../common/header'}}

<div class="metoin_wrapper">
	<div class="mw_sider"></div>
	<div class="mw_section">
		<div class="mw_main_c">
			<div class="metoin_weibo"></div>
			<div class="metoin_tab"></div>
			<div class="metoin_list_box">
				<div class="metoin_weibo_hot"></div>
				<div class="metoin_weibo_list"></div>
			</div>
		</div>
		<div class="mw_main_r"></div>
	</div>
</div>

{{include '../common/footer'}}
</div>
</body>
</html>